.Search {
  background-color:rgb(35, 35, 35);
}

.Movielist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.movie {
  flex-basis: calc(100% / 6);
  margin: 20px;
  text-align: center;
}

/* definitely will need to refactor but for now i'll put it here with Alex's stuff*/
.movie-card{
  margin: 10px;
  border-radius: 3px;
  border-color: aliceblue;
  /*background-color: rgb(213, 213, 213);*/
}

.movie-card:hover {
  cursor: pointer;
  transform: scale(1.025);
  transition: 0.125s ease;
  background-color: rgb(15, 15, 15, 0.75);
}

.movie-card img {
  width: 100%;
  position: relative;
  top: 0;
}

.movie-card .poster {
  width: 100%;
  aspect-ratio: 2/3;
}


.movie-card .empty-poster {
  width: 100%;
  height: 100%;
  background-color: rgb(97, 97, 97);
}

.movie-info {
  color: aliceblue;
}

.movie-info h2 {
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 16px;
  font-weight: bold;
}

.movie-card:hover .movie-info h2 {
  animation: text-shine 5s linear infinite;
  background: linear-gradient(to right, #78f3ca, #8b2a45, #78f3ca);
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes text-shine {
  from {
    background-position: 0% center;
  }
  to {
    background-position: 200% center;
  }
}

.movie-info p {
  padding-bottom: 8px;
  font-size: 14px;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  overflow-y: scroll;
}

.close {
  cursor: pointer;
}

.add {
  cursor: pointer;
}