  .Search {
    background-color:rgb(213, 213, 213);
  }
  
  .Movielist {
    background-color: darkred;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }
  
  .movie {
    flex-basis: calc(100% / 6);
    margin: 10px;
    text-align: center;
    color: midnightblue;
  }
  
  .movie img {
    width: 100%;
    height: auto;
  }
  
  .movie-info h2 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
  }
  
  .movie-info p {
    margin: 0;
    font-size: 14px;
  }
  