:root {
  --soft-white: #d9dbe0;
}

.modal-header {
  background-color: rgb(15, 15, 15);
  color: var(--soft-white);
}

.modal-body {
  background-color: rgb(43, 43, 43);
  color: var(--soft-white);
}

.modal-footer {
  background-color: rgb(60, 60, 60);
}

.titleSpan {
    display: flex;
    justify-content: center;
    color: var(--soft-white);
}

.movie-card{
    margin: 10px;
    border-radius: 3px;
    /*background-color: rgb(42, 45, 49);*/
    background-color: transparent;
  }

  .movie-card-body{
    position: relative;
    margin: auto;
  }
  
  .movie-card:hover {
    cursor: pointer;
    transform: scale(1.025);
    transition: 0.125s ease;
    background-color: rgb(15, 15, 15, 0.75);
  }
  
  .movie-card img {
    width: 100%;
    position: relative;
    top: 0;
  }

  .movie-card Image {
    width: 100%;
  }
  
  .movie-card-body .poster {
    width: 100%;
    aspect-ratio: 2/3;
  }
  
  .movie-card-body .empty-poster {
    width: 100%;
    height: 100%;
    background-color: rgb(70, 71, 75);
  }

  .movie-card-body .poster .empty-poster p {
    font-size: large;
    padding-top: 50%;
    color: var(--soft-white);
    text-align: center;
  }

  .movie-card-info {
    text-align: center;
    color: rgb(226, 248, 255);
  }
  
  .movie-card-info h2 {
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 16px;
    font-weight: bold;
    background-color: transparent;
  }

  .movie-card-info p {
    padding-bottom: 8px;
    font-size: 14px;
  }

  .stats-page {
    text-align: center;
  }

  .stats-page p {
    color: var(--soft-white);
    margin-top: 10px;
  }

  .stats-button button {
    border: none;
    border-radius: 3px;
    color: var(--soft-white);
    font-size: 20px;
    padding: 15px 30px;
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgb(32, 33, 35)
  }

  .stats-button button:hover{
    animation: 0.25s ease forwards buttonhover
  }

  @keyframes buttonhover {
    0% {
      background-color: rgb(32, 33, 35);
    }
    100% {
      background-color: rgb(28, 29, 33);
    }
  }